table, .paginator{
    background-color: transparent;
}

.paginator{
    color: black;
}

.tabla-responsive {
    overflow-x: auto;
    width: 100%;
}

@media (max-width: 600px) {
    .tabla-responsive table {
        min-width: 600px; 
    }
}