<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    @for (col of columnas; track col) {
        <ng-container [matColumnDef]="col">
            
            <!-- Esto es para verificar si esta compuesta por +1 palabra-->
            <th mat-header-cell *matHeaderCellDef>
            {{ getTituloCabecera(col) }}
            </th>

            <!-- Celdas para completar la tabla (datos)-->
            @if (getTituloCabecera(col) === 'Fecha Disponible') {
                <td mat-cell *matCellDef="let row">
                    {{ row[col] | date: 'yyyy-MM-dd' }}
                </td>
            } @else if (getTituloCabecera(col) === 'Disponibilidad') {
                <td mat-cell *matCellDef="let row">
                    {{ row[col] | formatearFechaDisponibilidad }}
                </td>
            }@else {
                <td mat-cell *matCellDef="let row">
                    {{ row[col] === true ? "Sí" : row[col] === false ? "No" : row[col] }}
                </td>
            }

        </ng-container>
    }

    @if (acciones.length > 0) {
        <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
            @for (acc of acciones; track acc.tipo) {
            <button mat-icon-button color="primary" [title]="acc.tooltip" (click)="accion.emit({ tipo: acc.tipo, fila: row })">
                <mat-icon>{{ acc.icono }}</mat-icon>
            </button>
            }
        </td>
        </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnas.concat(acciones.length > 0 ? ['acciones'] : [])"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas.concat(acciones.length > 0 ? ['acciones'] : [])"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona página" class="paginator"></mat-paginator>