table, .paginator{
    background-color: transparent;
    color: white;
}

.tabla-responsive {
    overflow-x: auto;
    width: 100%;
}

/* Opcional: mejora la visualización en pantallas pequeñas */
@media (max-width: 600px) {
    .tabla-responsive table {
        min-width: 600px; /* o más si tu tabla lo necesita */
    }
}
