<mat-toolbar class="main-toolbar">
  <span class="app-title" routerLink="/profesional-dashboard">VitaCare</span>

  <button mat-icon-button class="hamburger" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links">
    @if (miServicio.rol === 'profesional') {
      <a mat-button routerLink="/profesional-dashboard">Home</a>
      <a mat-button routerLink="/my-services">Mis Servicios</a>
      <a mat-button routerLink="/service-register">Nuevo Servicio</a>
      <a mat-button [routerLink]="['/profesional-edit', idProfesional]">Perfil</a>
    }@else if (miServicio.rol === 'administrador') {
      <a mat-button routerLink="/admin-dashboard">Home</a>
      <a mat-button routerLink="/mis-pacientes">Pacientes</a>
      <a mat-button routerLink="/profesional-list">Profesionales</a>
    }@else {
      <a mat-button routerLink="/patients-dashboard">Home</a>
      <a routerLink="/lista-servicios">Servicios</a>
      <a routerLink="/mantenimiento-paciente-cita">Mis Citas</a>
      <a routerLink="/mantenimiento-resena">Mis Reseñas</a>
    }
    <a mat-button routerLink="/login">Cerrar Sesión</a>
  </nav>
</mat-toolbar>

@if (menuAbierto) {
  <div class="mobile-menu">
    @if (miServicio.rol === 'profesional') {
      <a mat-button routerLink="/profesional-dashboard" (click)="toggleMenu()">Home</a>
      <a mat-button routerLink="/my-services" (click)="toggleMenu()">Mis Servicios</a>
      <a mat-button routerLink="/service-register" (click)="toggleMenu()">Nuevo Servicio</a>
      <a mat-button [routerLink]="['/profesional-edit', idProfesional]" (click)="toggleMenu()">Perfil</a>
    }@else if (miServicio.rol === 'administrador') {
      <a mat-button routerLink="/admin-dashboard" (click)="toggleMenu()">Home</a>
      <a mat-button routerLink="/mis-pacientes" (click)="toggleMenu()">Pacientes</a>
      <a mat-button routerLink="/profesional-list" (click)="toggleMenu()">Profesionales</a>
    } @else {
      <a mat-button routerLink="/patients-dashboard" (click)="toggleMenu()">Home</a>
      <a mat-button routerLink="/lista-servicios" (click)="toggleMenu()">Servicios</a>
      <a mat-button routerLink="/mantenimiento-paciente-cita" (click)="toggleMenu()">Mis citas</a>
    }
    <a mat-button routerLink="/login" (click)="toggleMenu()">Cerrar Sesión</a>
  </div>
}

<router-outlet></router-outlet>

