<nav>
    @if (miServicio.rol==='profesional') {
        <ul routerLink="/profesional-dashboard">Home</ul>
        <ul routerLink="/my-services">Mis Servicios</ul>
        <ul routerLink="/service-register">Nuevo Servicio</ul>
        <ul [routerLink]="['/profesional-edit', idProfesional]">Perfil</ul>
        <ul routerLink="/login">Cerrar Sesion</ul>
    }@else if (miServicio.rol==='administrador') {
        <ul routerLink="/admin-dashboard">Home</ul>
        <ul routerLink="/list-profesional">Profesionales</ul>
        <ul routerLink="/login">Cerrar Sesion</ul>
    }
    @else {
        <ul routerLink="">Home</ul>
        <ul routerLink="">Persona</ul>
        <ul routerLink="">Pacientes</ul>
        <ul routerLink="/login">Cerrar Sesion</ul>
    }
</nav>

