<nav>
    @if (miServicio.rol==='profesional') {
        <ul routerLink="/profesional-dashboard">Home</ul>
        <ul routerLink="/my-services">Mis Servicios</ul>
        <ul routerLink="/service-register">Nuevo Servicio</ul>
        <ul routerLink="/login">Cerrar Sesion</ul>
    }@else {
        <ul routerLink="/pacientes-dashboard">Home</ul>
        <ul routerLink="">Persona</ul>
        <ul routerLink="/lista-servicios">Servicios</ul>
        <ul routerLink="/mantenimiento-paciente-cita">Mis Citas</ul>
        <ul routerLink="">Pacientes</ul>
        <ul routerLink="/login">Cerrar Sesion</ul>
    }
</nav>

