/*.form__search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.container__search__input {
  width: 100%;
  max-width: 500px;
}

.no-result {
  text-align: center;
  margin-top: 1rem;
  font-style: italic;
  color: #999;
  margin: 20px;
}*/

