<app-header></app-header>

    <h1>Lista de profesionales</h1>
    <form class="form__search">
        <mat-form-field appearance="outline" class="container__search__input">
        <mat-label>Buscar:</mat-label>
        <input matInput placeholder="Nombre/Especialidad/Ubicacion" type="search" (keyup)="buscar(searchInput)" #searchInput>
        </mat-form-field>
    </form>

    <app-tabla-reutilizable
        [columnas]="columnasKeys"
        [data]="dataSource.data"
        [acciones]="accion"
        (accion)="gestionarAccion($event)">
    </app-tabla-reutilizable>
    <@if(dataSource.data.length === 0){
        <div class="no-result">
            No hay ningún profesional con esas características.
        </div>
    }

<app-footer></app-footer>
