.example-form-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px; 
    max-width: 400px; 
    width: 90%; 
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.example-form-grid h1 {
    text-align: center; 
    margin-bottom: 20px;
}

.example-section {
    justify-self: start; 
}

.buttons-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
    width: 100%; 
}

.btnCancel{
    background-color: rgb(189, 203, 214);
}


.example-form-grid mat-form-field {
    width: 100%;
}