<app-header></app-header>
<div class="container">
    <h2>{{ isEdit ? 'Editar Servicio' : 'Registrar Servicio' }}</h2>
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="nombre">Nombre del servicio</label>
            <input id="nombre" formControlName="nombre" required>
        </div>
        
        <div>
            <label for="descripcion">Descripción</label>
            <input id="descripcion" formControlName="descripcion" required>
        </div>

        <div>
            <label for="precio">Precio</label>
            <input id="precio" formControlName="precio" type="number" required>
        </div>

        <div>
            <label for="fechaDisponible">Fecha disponible</label>
            <input id="fechaDisponible" formControlName="fechaDisponible" type="date" required>
        </div>

        <div>
            <label for="requiereChequeo">Requiere chequeo</label>
            <input id="requiereChequeo" formControlName="requiereChequeo" type="checkbox">
        </div>

        <button type="submit" [disabled]="serviceForm.invalid || isNoChanges()"> 
        {{ isEdit ? 'Actualizar' : 'Agregar' }} 
        </button>
        <button type="button" (click)="onCancel()">Cancelar</button>
    </form>
</div>
<app-footer></app-footer>