<app-header></app-header>
<h1>Detalles Pacientes</h1>
<div class="search-container">
  <form class="example-form">
    <mat-form-field class="formElement">
      <mat-label>Buscar:</mat-label>
      <input matInput type="search" placeholder="Nombre del paciente" #searchInput (keyup)="search(searchInput)">
    </mat-form-field>
  </form>  
    <app-tabla-reutilizable 
      [columnas]="col"
      [data]="dataSource.data"
      [acciones]="acciones"
      (accion)="manejarAccion($event)">
  </app-tabla-reutilizable>
</div>  

<app-footer></app-footer>