<app-header></app-header>
<h1>ESTE ES EL DASHBOARD DE PACIENTES</h1>

<form class="example-form">
    <mat-form-field appearance="outline" class="container__search__input">
    <mat-label>Buscar:</mat-label>
    <input matInput placeholder="Especialidad" (keyup)="buscar(searchInput)" #searchInput>
    </mat-form-field>
</form>

<div class="cards-container">
  @for (profesional of profesionales; track profesional.id) {
    <mat-card class="profesional-card">
      <mat-card-header>
        <mat-card-title>{{ profesional.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ profesional.especialidad }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Ubicación:</strong> {{ profesional.ubicacion }}</p>
        <p><strong>Edad:</strong> {{ profesional.edad }}</p>
        <p><strong>Sexo:</strong> {{ profesional.sexo }}</p>
        <p><strong>Teléfono:</strong> {{ profesional.telefono }}</p>
        <p><strong>Disponibilidad:</strong> {{ profesional.disponibilidad }}</p>
      </mat-card-content>
        <button mat-stroked-button (click)="irAResena(profesional.id)">Reseña</button>
        <button mat-stroked-button>Ver reseña</button>
    </mat-card>
  }
</div>
<app-footer></app-footer>