<app-header></app-header>

<div class="container">
  <h2>Bienvenido, {{ pacienteActual?.nombre }}</h2>
  <p>Nos alegra tenerte aquí.</p>
  <p>Gestiona tu salud desde un solo lugar.</p>

  <section class="proximas-citas">
    <h3>Próximas citas</h3>
      <mat-card *ngFor="let cita of citasProximas" class="cita-card">
        <mat-card-content class="cita-content">
          <div class="cita-izquierda">
            <p><strong>Servicio:</strong> {{ cita.nombreServicio }}</p>
            <p><strong>Profesional:</strong> {{ cita.nombreProfesional }}</p>
            <p><strong>Dirección:</strong> {{ cita.direccion }}</p>
          </div>
          <div class="cita-derecha">
            <p>{{ cita.fechaHoraServicio| date:'fullDate'}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    <p *ngIf="citasProximas.length === 0">No tienes citas próximas.</p>
  </section>

  <section class="profesionales-destacados">
    <h3>Profesionales destacados</h3>
    <mat-card *ngFor="let profesional of profesionalesDestacados" class="profesional-card">
      <mat-card-content>
        <p><strong>Nombre:</strong> {{ profesional.nombre }}</p>
        <p><strong>Especialidad:</strong> {{ profesional.especialidad }}</p>
        <p>
          <mat-icon>location_on</mat-icon> {{ profesional.ubicacion }}
        </p>
        <p>
          <mat-icon>star</mat-icon> Calificación: {{ profesional.promedioCalificacion | number:'1.1-1' }}
        </p>
      </mat-card-content>
    </mat-card>
    <p *ngIf="profesionalesDestacados.length === 0">No hay profesionales destacados aún.</p>
  </section>
</div>

<app-footer></app-footer>