<app-header></app-header>

<div class="content">
    <h1>Mis Citas Agendadas</h1>

    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Buscar:</mat-label>
            <input matInput placeholder="Buscar por todos los campos." type="search" (keyup)="search(searchInput)" #searchInput>
        </mat-form-field>
    </form>
    <app-tabla-reutilizable
        [columnas]="columnasKeysCitas"
        [data]="sourceDatos.data"
        [acciones]="accionesCitas"
        (accion)="gestionarAccionCita($event)">
    </app-tabla-reutilizable>
</div>
<app-footer></app-footer>