.container { /* Aunque no uses directamente esta clase en tu HTML, puede ser útil para el layout general de la página */
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.service-details-card {
    margin: 20px auto; /* Centra la card horizontalmente */
    margin-bottom: 20px;
    width: 90%; /* Ocupa un porcentaje del ancho en pantallas pequeñas */
    max-width: 400px; /* Ancho máximo similar al del formulario */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cita-form-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 15px; /* Espacio entre los campos */
    max-width: 400px; /* Ancho máximo del formulario */
    width: 90%; /* Ocupa un porcentaje del ancho en pantallas pequeñas */
    margin: 20px auto; /* Centra el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 5px; /* Bordes redondeados opcional */
}

h2 { /* Estilo para el título de tu formulario */
    text-align: center;
    margin-bottom: 20px;
}

.radio-group {
    justify-self: start; /* Alinea el grupo de radio al inicio */
    margin-bottom: 15px; /* Añade espacio debajo del grupo de radio */
}

.radio-label {
    margin-bottom: 8px;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.btnCancel {
    background-color: rgb(189, 203, 214); /* Color de fondo del botón Cancelar */
}

.cita-form-grid mat-form-field {
    width: 100%; /* Los campos ocupan todo el ancho */
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}