<h1>{{ isEditMode ? 'Editar Paciente'  : 'Registrar Nuevo Paciente'}}</h1>

<form class="example-form-grid" [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Nombre Completo</mat-label>
    <input matInput formControlName="nombre" placeholder="Nombre y apellidos">
    @if(pacienteForm.get('nombre')?.errors?.['required']) {
      <mat-error>El nombre es requerido</mat-error>
    }
    @if(pacienteForm.get('nombre')?.errors?.['pattern']) {
      <mat-error>El nombre no debe contener números</mat-error>
    }
    @if(pacienteForm.get('nombre')?.errors?.['minlength']) {
      <mat-error>El nombre debe tener al menos 3 caracteres</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" placeholder="0987654321">
    @if(pacienteForm.get('telefono')?.errors?.['required']) {
      <mat-error>El teléfono es requerido</mat-error>
    }
    @if(pacienteForm.get('telefono')?.errors?.['pattern']) {
      <mat-error>Debe ingresar un número de 10 dígitos</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input matInput type="number" placeholder="Ingrese la edad" formControlName="Edad">
    @if(pacienteForm.get('Edad')?.errors?.['required']) {
      <mat-error>La edad es requerida</mat-error>
    }
    @if(pacienteForm.get('Edad')?.errors?.['min']) {
      <mat-error>La edad no puede ser negativa</mat-error>
    }
    @if(pacienteForm.get('Edad')?.errors?.['max']) {
      <mat-error>La edad no puede ser mayor a 120 años</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo de Sangre</mat-label>
    <mat-select formControlName="tipoSangre">
      <mat-option *ngFor="let tipo of tiposDeSangre" [value]="tipo">{{tipo}}</mat-option>
    </mat-select>
    @if(pacienteForm.get('tipoSangre')?.errors?.['required']) {
      <mat-error>El tipo de sangre es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Método de Contacto Preferido</mat-label>
    <mat-select formControlName="contacto">
      <mat-option *ngFor="let metodo of metodosContacto" [value]="metodo">{{metodo}}</mat-option>
    </mat-select>
    @if(pacienteForm.get('contacto')?.errors?.['required']) {
      <mat-error>El método de contacto es requerido</mat-error>
    }
  </mat-form-field>  

  <section class="example-section">
    <mat-checkbox formControlName="estado">¿El paciente se encuentra activo?</mat-checkbox>
  </section>

  <h2>Información de Cuenta</h2>

  <div [formGroup]="cuentaForm">
    <mat-form-field>
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" placeholder="correo@ejemplo.com" type="email">
      @if(cuentaForm.get('email')?.errors?.['required']) {
        <mat-error>El correo electrónico es requerido</mat-error>
      }
      @if(cuentaForm.get('email')?.errors?.['email']) {
        <mat-error>Debe ingresar un correo electrónico válido</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" placeholder="Contraseña" type="password">
      @if(cuentaForm.get('password')?.errors?.['required']) {
        <mat-error>La contraseña es requerida</mat-error>
      }
      @if(cuentaForm.get('password')?.errors?.['minlength']) {
        <mat-error>La contraseña debe tener al menos 6 caracteres</mat-error>
      }
    </mat-form-field>
  </div>

  <section class="buttons-container">
    <div class="example-button-container">
      <button mat-fab extended type="submit" [disabled]="pacienteForm.invalid || cuentaForm.invalid">
        <mat-icon>{{ isEditMode ? 'edit' : 'person_add' }}</mat-icon>
        {{ isEditMode ? 'Actualizar' : 'Guardar' }}
      </button>
    </div>

    <div class="example-button-container">
      <button mat-fab extended color="warn" type="button" (click)="onCancel()" class="btnCancel">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
    </div>
  </section>
</form>