.example-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;  
}

.example-form-grid h1 {
  text-align: center;
  margin-bottom: 20px;
}

.example-form-grid h2 {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #2c3e50;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

.example-section {
  justify-self: start;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.example-button-container {
  display: flex;
}

.btnCancel {
  background-color: rgb(189, 203, 214);
}

.example-form-grid mat-form-field {
  width: 100%;
}
