<app-header></app-header>
<h2>{{ esEdicion ? 'Editar Cita' : 'Registrar Nueva Cita' }}</h2>

<mat-card *ngIf="detallesServicio">
  <mat-card-header>
    <mat-card-title>Detalles del Servicio Seleccionado</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Nombre:</strong> {{ detallesServicio.nombre }}</p>
    <p><strong>Descripción:</strong> {{ detallesServicio.descripcion }}</p>
    <p><strong>Fecha Disponible:</strong> {{ detallesServicio.fechaDisponible| date }}</p>
    <p><strong>Precio:</strong> {{ detallesServicio.precio | currency:"USD" }}</p>
  </mat-card-content>
</mat-card>

<form [formGroup]="formularioCita" (ngSubmit)="enviarFormulario()" class="cita-form">

  <div class="form-field">
    <label for="direccion">Dirección</label>
    <select id="direccion" formControlName="direccion" required>
      <option value="" disabled>Seleccionar Dirección</option>
      <option *ngFor="let direccion of direccionesUnicas" [value]="direccion">{{ direccion }}</option>
    </select>
    <div *ngIf="formularioCita.get('direccion')?.hasError('required')">
      <small class="error-message">La dirección es requerida.</small>
    </div>
  </div>

  <div class="form-field">
    <label for="prioridad">Prioridad</label>
    <input type="text" id="prioridad" formControlName="prioridad" placeholder="Ej: alta, media, baja">
  </div>

  <div class="radio-group">
    <label>Método de Pago</label>
    <div>
      <input type="radio" id="efectivo" value="efectivo" formControlName="metodoPago">
      <label for="efectivo">Efectivo</label>
    </div>
    <div>
      <input type="radio" id="transferencia" value="transferencia" formControlName="metodoPago">
      <label for="transferencia">Transferencia</label>
    </div>
    <div *ngIf="formularioCita.get('metodoPago')?.hasError('required')">
      <small class="error-message">El método de pago es requerido.</small>
    </div>
  </div>

  <button type="submit" [disabled]="formularioCita.invalid || !detallesServicio?.id">
    {{ esEdicion ? 'Guardar Cambios' : 'Registrar Cita' }}
  </button>
  <button type="button" (click)="onCancelar()">Cancelar</button>
</form>
<app-footer></app-footer>